<template>
<canvas :width="width" :height="height"></canvas>
</template>

<script>
  import SignaturePad from 'signature_pad'

  export default {
    components: {
    },
    computed: {
    },
    created () {
    },
    data () {
      return {
        signaturePad: null
      }
    },
    filters: {
    },
    methods: {
      clear () {
        this.signaturePad.clear()
      },
      fromData (data = null) {
        if (data) {
          this.signaturePad.fromData(data)
        }
      },
      fromDataURL (data = null) {
        if (data) {
          this.signaturePad.fromDataURL(data)
        }
      },
      isEmpty () {
        return this.signaturePad.isEmpty()
      },
      toData () {
        return this.signaturePad.toData()
      },
      toDataURL (format = null) {
        return this.signaturePad.toDataURL(format)
      }
    },
    mounted () {
      this.signaturePad = new SignaturePad(this.$el)
      this.signaturePad.penColor = "#0000ff"
    },
    mixins: [
    ],
    props: {
      height: {
        type: Number,
        default: 150
      },
      width: {
        type: Number,
        default: 300
      }
    }
  }
</script>

<style lang="scss">
.signature-pad {
  border: 1px solid red;
}
</style>
